html{
  text-align: center;
}

body{
  background-color: darkgreen;
}

*{
    margin: 0;
    height: auto;
}

body{
    width: 100%;
}

h1{
  font-size: 7em;
  font-family: 'Impact', bold;
  color: rgb(166, 165, 167);
}

h2{
    margin-top: -17px;
    font-family: 'Haettenschweiler';
    font-size: 1.7em;
    text-align: center;
    font-weight: 400;
    color: rgb(255, 219, 14);
}

a{
    margin-top: 20px;
    font-size: 1.3em;
    font-family: 'righteous', cursive; 
}

img{
  height: 300px;
  width: 300px;
  margin: 100px;
  text-align: center;
}

p {
  text-align: center;
}

p {
  font-size: 20px;
  font-family: 'righteous', cursive;
  color: white;
  text-align: center;
}

ul {
  margin-right: 40px;
  list-style: none;
  text-align: center;
  font-family: 'Narrow', cursive;
  color: white;

}

ol {
  margin-right: 40px;
}

ol li{
  list-style: none;
  font-size: 20pt;
  color: rgb(236, 30, 219);
  text-align: center;
  font-family: 'righteous', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section{
  list-style: none;
  text-align: center;

}

header{
  text-align: center;
}

nav a img{
width: 70px;
height: 70px;
text-align: center;
border: 3px solid white;
border-radius: 100px;
}

nav{
  text-align: center;
}

.showtime {
  margin-bottom: 10px
}

#artist {
  font-weight:bold
  font-size: 30pt;
  font-family: 'righteous', cursive;
}
